*:before,
*:after {
    box-sizing: border-box;
}
form{
    background: #797676;
    padding: 20px;
     margin: 30px auto;
    width: fit-content;
    font-size: 1.4rem;
    border-radius: 7px;
    border: 1px silver groove;
    box-sizing: border-box;
}
form > *{
    margin: 10px 20px;
    /*box-sizing: border-box;*/
}
input{
    text-align: center;
    /*width: 100%;*/
    font-size: 1.3rem;

}
input[type="submit"]{
    width: -webkit-fill-available;

}
.warning{
    background: #797676;
    color: red;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
    width: 20%;
    text-align: center;
}
.black{
    color: black;
}

.successAdded{
    background: forestgreen;
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    width: 31%;
    margin: 0 auto;
    color: lightgoldenrodyellow;
}

/*for show_authors*/
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 20px auto;
    background: #575654;
    width: 65%;
    min-width: 500px;
    text-align: center;

}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

#authors-select{
    /*width: -webkit-fill-available;*/
    height: 30px;
    font-size: 1.2rem;
}

.deleteAuthorForm{
    width: min-content;
}

.flexLinks{
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    /* border: #3d3d3f; */
    justify-content: space-evenly;
}
.flexLinks > div{
    background: #797676;
    padding: 5px;
    border-radius: 5px;
}
.flexLinks a{
    color: #e0e0ef;
}

.messageErr{
    text-align: center;
    border: 1px solid;
    padding: 10px;
    font-size: 25px;
    background: red;
    width: max-content;
    margin: 20px auto;
}

.linkRegister, .linkLogin{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color: rgba(0, 86, 224, 0.68);

}